{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h3>About Service Record</h3>
    <p>One of the important parts of school learning is to nurture and skills and proper attitudes about serving others in the community.</p>
    <p>Every year, each student needs to enter the records of her/his services in the school year for teachers' review and endorsement.</p>
    <p>At the end of each school year, each student is awarded accordingly based on her/his service hours.</p>
    <p>Students who have served for at least 100 hours would obtain <span style="color:DarkGoldenRod"><strong>Gold</strong></span> award.</p>
    <p>Students who have served for at least 50 hours but less than 100 hours would obtain <span style="color:SlateGrey"><strong>Silver</strong></span> award.</p>
    <p>Students who have served for at least 25 hours but less than 50 hours would obtain <span style="color:Sienna"><strong>Bronze</strong></span> award.</p>
    <p>Students who have served for at least 10 hours but less than 25 hours would obtain <strong>Merit</strong> award.</p>
{% endblock %}