{% extends "layout.html" %}

{% block title %}
    Add External Record
{% endblock %}

{% block main %}

    <h3>Add External Service Record</h3>
    <h5>Enter your external service record. Remember to provide contact information of the external organisation / activity for school's verification of your record.</h5>
    {% if error %}
        <p style="color:red"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <form action="/add_ext_record" method="post">
        <div class="mb-3">
            <label for="org_name" class="form-label">Organisation / Activity</label>
            <input type="text" class="form-control" id="org_name" name="org_name" autocomplete="off">
        </div>
        <div class="mb-3" id="hours_div">
            <label for="contact" class="form-label">Contact Information (Provide name of contact person and her/his phone / email)</label>
            <input type="text" class="form-control" id="contact" name="contact" autocomplete="off">
        </div>
        <div class="mb-3" id="post_div">
            <label for="post" class="form-label">Post</label>
            <input type="text" class="form-control" id="post" name="post" autocomplete="off">
        </div>
        <div class="mb-3" id="hours_div">
            <label for="hours" class="form-label">Number of Hours</label>
            <input type="number" class="form-control" id="hours" name="hours" autocomplete="off">
        </div>
        <button class="btn btn-primary" type="submit">Add Record!</button>
    </form>

{% endblock %}